In [1]:
import pandas as pd
hero=pd.read_pickle('pickle-data/hero_dc.pkl')

In [2]:
hero.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [5]:
hero.loc[2,'Race']='Unknown'

In [6]:
hero.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,race
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0,NaN
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0,NaN
2,Alan Scott,Male,blue,Unknown,Blond,180,DC Comics,good,90.0,Unknown
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0,NaN
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0,NaN

In [7]:
hero.iloc[2,3]

'Unknown'

In [8]:
hero.iloc[2,3]='-'

In [9]:
hero.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,race
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0,NaN
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0,NaN
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0,Unknown
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0,NaN
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0,NaN

In [14]:
hero.loc[hero['Race']=='-','Race']='Unknown'

In [15]:
hero[hero['Race']=='Unknown']

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,race
2,Alan Scott,Male,blue,Unknown,Blond,180,DC Comics,good,90.0,Unknown
7,Aquababy,Male,blue,Unknown,Blond,-99,DC Comics,good,NaN,NaN
12,Atom,Male,blue,Unknown,Red,178,DC Comics,good,68.0,NaN
13,Atom,Male,-,Unknown,-,-99,DC Comics,good,NaN,NaN
14,Atom Girl,Female,black,Unknown,Black,168,DC Comics,good,54.0,NaN
...,...,...,...,...,...,...,...,...,...,...
204,Triplicate Girl,Female,purple,Unknown,Brown,168,DC Comics,good,59.0,NaN
205,Two-Face,Male,-,Unknown,-,183,DC Comics,bad,82.0,NaN
208,Warp,Male,brown,Unknown,Black,173,DC Comics,bad,67.0,NaN
210,Wildfire,Male,-,Unknown,-,-99,DC Comics,good,NaN,NaN
214,Zoom,Male,red,Unknown,Brown,185,DC Comics,bad,81.0,NaN

In [17]:
hero.loc[68]

name          Doctor Fate
Gender               Male
Eye color            blue
Race                Human
Hair color          Blond
Height                188
Publisher       DC Comics
Alignment            good
Weight               89.0
race                  NaN
Name: 68, dtype: object

In [18]:
hero.shape

(215, 10)

In [19]:
hero.loc[10000]=hero.loc[68]

In [20]:
hero.shape

(216, 10)

In [21]:
hero.tail()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,race
211,Wonder Girl,Female,blue,Demi-God,Blond,165,DC Comics,good,51.0,NaN
212,Wonder Woman,Female,blue,Amazon,Black,183,DC Comics,good,74.0,NaN
213,Zatanna,Female,blue,Human,Black,170,DC Comics,good,57.0,NaN
214,Zoom,Male,red,Unknown,Brown,185,DC Comics,bad,81.0,NaN
10000,Doctor Fate,Male,blue,Human,Blond,188,DC Comics,good,89.0,NaN

In [23]:
hero['Height']

0        185
1        185
2        180
3        178
4        257
        ...
211      165
212      183
213      170
214      185
10000    188
Name: Height, Length: 216, dtype: int64

In [26]:
hero['Height']=hero['Height']*0.0328084

In [27]:
hero['Height']

0        6.069554
1        6.069554
2        5.905512
3        5.839895
4        8.431759
           ...
211      5.413386
212      6.003937
213      5.577428
214      6.069554
10000    6.167979
Name: Height, Length: 216, dtype: float64

In [29]:
numeric_cols=hero.select_dtypes(include='number').columns

In [30]:
numeric_cols

Index(['Height', 'Weight'], dtype='object')

In [33]:
hero[numeric_cols]=hero[numeric_cols]*100

In [34]:
hero[numeric_cols]

          Height   Weight
0      606.95540   9000.0
1      606.95540   8800.0
2      590.55120   9000.0
3      583.98952   7200.0
4      843.17588  17300.0
...          ...      ...
211    541.33860   5100.0
212    600.39372   7400.0
213    557.74280   5700.0
214    606.95540   8100.0
10000  616.79792   8900.0

[216 rows x 2 columns]

In [35]:
hero[numeric_cols]=hero[numeric_cols]/100

In [36]:
hero[numeric_cols]

         Height  Weight
0      6.069554    90.0
1      6.069554    88.0
2      5.905512    90.0
3      5.839895    72.0
4      8.431759   173.0
...         ...     ...
211    5.413386    51.0
212    6.003937    74.0
213    5.577428    57.0
214    6.069554    81.0
10000  6.167979    89.0

[216 rows x 2 columns]

In [38]:
# bmi = weight(kg) / [height(m)]^2
hero['bmi']=hero['Weight']/(hero['Height']/3.28084)**2

In [40]:
hero.columns

Index(['name', 'Gender', 'Eye color', 'Race', 'Hair color', 'Height',
       'Publisher', 'Alignment', 'Weight', 'race', 'bmi'],
      dtype='object')

In [41]:
hero.head(10)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,race,bmi
0,Abin Sur,Male,blue,Ungaran,No Hair,6.069554,DC Comics,good,90.0,NaN,26.296567
1,Adam Strange,Male,blue,Human,Blond,6.069554,DC Comics,good,88.0,NaN,25.712199
2,Alan Scott,Male,blue,Unknown,Blond,5.905512,DC Comics,good,90.0,Unknown,27.777778
3,Alfred Pennyworth,Male,blue,Human,Black,5.839895,DC Comics,good,72.0,NaN,22.724403
4,Amazo,Male,red,Android,-,8.431759,DC Comics,bad,173.0,NaN,26.192675
5,Animal Man,Male,blue,Human,Blond,6.003937,DC Comics,good,83.0,NaN,24.784258
6,Anti-Monitor,Male,yellow,God / Eternal,No Hair,2.001312,DC Comics,bad,NaN,NaN,NaN
7,Aquababy,Male,blue,Unknown,Blond,-3.248032,DC Comics,good,NaN,NaN,NaN
8,Aqualad,Male,blue,Atlantean,Black,5.839895,DC Comics,good,106.0,NaN,33.455372
9,Aquaman,Male,blue,Atlantean,Blond,6.069554,DC Comics,good,146.0,NaN,42.658875