In [1]:
import pandas as pd
wdi = pd.read_pickle('wdi.pkl')

In [2]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 406 non-null    float64
 3   compulsory_education_years      412 non-null    float64
 4   health_expenditure_pct_of_gdp   427 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              432 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  215 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    int64
 17  country_category                282 non-null    object
 18  is_region                       434 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 64.5+ KB

In [3]:
wdi_numeric = wdi.select_dtypes(include='number')

In [4]:
wdi_numeric.head()

,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.70100,64.130000,55.595993,36296400.0,NaN,14.090000,10.416000,11.184000,2017,0
1,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.60100,78.333000,104.870693,2873457.0,NaN,12.563000,14.590000,13.750000,2017,0
2,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.30700,76.499000,17.377715,41389198.0,NaN,21.114000,10.021000,11.996000,2017,0
3,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.67700,60.379000,23.916538,29816748.0,NaN,7.467000,6.769000,7.119000,2017,0
4,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.92125,71.622526,36.669804,411898967.0,NaN,20.361396,8.097088,10.641313,2017,1

In [5]:
numeric_cols = wdi_numeric.columns

In [6]:
cat_cols = wdi.select_dtypes(exclude='number').columns

In [7]:
cat_cols

Index(['country_name', 'country_category'], dtype='object')

In [8]:
wdi[numeric_cols]

,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.701000,64.130000,55.595993,3.629640e+07,NaN,14.090000,10.416000,11.184000,2017,0
1,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.601000,78.333000,104.870693,2.873457e+06,NaN,12.563000,14.590000,13.750000,2017,0
2,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.307000,76.499000,17.377715,4.138920e+07,NaN,21.114000,10.021000,11.996000,2017,0
3,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.677000,60.379000,23.916538,2.981675e+07,NaN,7.467000,6.769000,7.119000,2017,0
4,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.921250,71.622526,36.669804,4.118990e+08,NaN,20.361396,8.097088,10.641313,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,100.000000,25.322499,10.0,5.917897,2566.596950,7771.189420,79.442000,71.207000,75.317000,308.125246,9.554040e+07,8.66000,1.831000,2.142000,1.993000,2018,0
430,100.000000,24.735190,10.0,NaN,3562.330943,6472.121785,75.595000,72.263000,73.895000,758.984551,4.569087e+06,NaN,41.849998,22.393999,26.256001,2018,0
431,89.588551,40.949620,10.0,9.848779,11385.675227,17025.827360,74.871815,70.398743,72.563282,59.617978,7.591945e+09,6.18124,5.580954,5.271615,5.392213,2018,1
432,39.812622,11.554664,7.0,4.934843,1516.390661,3607.304442,66.447000,60.533000,63.510000,23.341479,1.735182e+07,6.54000,12.448000,10.614000,11.500000,2018,0
433,41.041584,6.625208,7.0,4.734331,1683.740577,3206.277079,62.598000,59.501000,61.195000,37.324591,1.443902e+07,4.67000,5.598000,4.555000,5.087000,2018,0

In [9]:
wdi[numeric_cols].fillna(-999)

,access_to_electricity_pct,atms_per_100000,compulsory_education_years,health_expenditure_pct_of_gdp,gdp_per_capita_usd,gdp_per_capita_ppp,life_expectancy_female,life_expectancy_male,life_expectancy,population_density,population,alcohol_consumption_per_capita,unemployment_rate_female,unemployment_rate_male,unemployment_rate,year,is_region
0,97.700000,1.213235,9.0,11.777236,519.884773,2058.383832,65.656000,62.701000,64.130000,55.595993,3.629640e+07,-999.00000,14.090000,10.416000,11.184000,2017,0
1,100.000000,31.714076,9.0,5.010597,4531.020806,13037.010016,80.148000,76.601000,78.333000,104.870693,2.873457e+06,-999.00000,12.563000,14.590000,13.750000,2017,0
2,100.000000,9.130677,10.0,6.380329,4111.294110,11737.409353,77.735000,75.307000,76.499000,17.377715,4.138920e+07,-999.00000,21.114000,10.021000,11.996000,2017,0
3,41.962894,19.079250,6.0,2.791503,4095.812942,7310.901738,63.252000,57.677000,60.379000,23.916538,2.981675e+07,-999.00000,7.467000,6.769000,7.119000,2017,0
4,90.283638,27.360620,9.0,5.561266,6108.588220,14562.367966,73.493366,69.921250,71.622526,36.669804,4.118990e+08,-999.00000,20.361396,8.097088,10.641313,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,100.000000,25.322499,10.0,5.917897,2566.596950,7771.189420,79.442000,71.207000,75.317000,308.125246,9.554040e+07,8.66000,1.831000,2.142000,1.993000,2018,0
430,100.000000,24.735190,10.0,-999.000000,3562.330943,6472.121785,75.595000,72.263000,73.895000,758.984551,4.569087e+06,-999.00000,41.849998,22.393999,26.256001,2018,0
431,89.588551,40.949620,10.0,9.848779,11385.675227,17025.827360,74.871815,70.398743,72.563282,59.617978,7.591945e+09,6.18124,5.580954,5.271615,5.392213,2018,1
432,39.812622,11.554664,7.0,4.934843,1516.390661,3607.304442,66.447000,60.533000,63.510000,23.341479,1.735182e+07,6.54000,12.448000,10.614000,11.500000,2018,0
433,41.041584,6.625208,7.0,4.734331,1683.740577,3206.277079,62.598000,59.501000,61.195000,37.324591,1.443902e+07,4.67000,5.598000,4.555000,5.087000,2018,0

In [10]:
wdi[numeric_cols]=wdi[numeric_cols].fillna(-999)

In [11]:
wdi[cat_cols]=wdi[cat_cols].fillna('MISSING')

In [12]:
wdi.info

<bound method DataFrame.info of            country_name  access_to_electricity_pct  atms_per_100000
0           Afghanistan                  97.700000         1.213235  \
1               Albania                 100.000000        31.714076
2               Algeria                 100.000000         9.130677
3                Angola                  41.962894        19.079250
4            Arab World                  90.283638        27.360620
..                  ...                        ...              ...
429             Vietnam                 100.000000        25.322499
430  West Bank and Gaza                 100.000000        24.735190
431               World                  89.588551        40.949620
432              Zambia                  39.812622        11.554664
433            Zimbabwe                  41.041584         6.625208

     compulsory_education_years  health_expenditure_pct_of_gdp
0                           9.0                      11.777236  \
1                           9.0                       5.010597
2                          10.0                       6.380329
3                           6.0                       2.791503
4                           9.0                       5.561266
..                          ...                            ...
429                        10.0                       5.917897
430                        10.0                    -999.000000
431                        10.0                       9.848779
432                         7.0                       4.934843
433                         7.0                       4.734331

     gdp_per_capita_usd  gdp_per_capita_ppp  life_expectancy_female
0            519.884773         2058.383832               65.656000  \
1           4531.020806        13037.010016               80.148000
2           4111.294110        11737.409353               77.735000
3           4095.812942         7310.901738               63.252000
4           6108.588220        14562.367966               73.493366
..                  ...                 ...                     ...
429         2566.596950         7771.189420               79.442000
430         3562.330943         6472.121785               75.595000
431        11385.675227        17025.827360               74.871815
432         1516.390661         3607.304442               66.447000
433         1683.740577         3206.277079               62.598000

     life_expectancy_male  life_expectancy  population_density    population
0               62.701000        64.130000           55.595993  3.629640e+07  \
1               76.601000        78.333000          104.870693  2.873457e+06
2               75.307000        76.499000           17.377715  4.138920e+07
3               57.677000        60.379000           23.916538  2.981675e+07
4               69.921250        71.622526           36.669804  4.118990e+08
..                    ...              ...                 ...           ...
429             71.207000        75.317000          308.125246  9.554040e+07
430             72.263000        73.895000          758.984551  4.569087e+06
431             70.398743        72.563282           59.617978  7.591945e+09
432             60.533000        63.510000           23.341479  1.735182e+07
433             59.501000        61.195000           37.324591  1.443902e+07

     alcohol_consumption_per_capita  unemployment_rate_female
0                        -999.00000                 14.090000  \
1                        -999.00000                 12.563000
2                        -999.00000                 21.114000
3                        -999.00000                  7.467000
4                        -999.00000                 20.361396
..                              ...                       ...
429                         8.66000                  1.831000
430                      -999.00000                 41.849998
431                         6.18124                  5.580954
432                         6.54000                 12.448000
433                         4.67000                  5.598000

     unemployment_rate_male  unemployment_rate  year country_category
0                 10.416000          11.184000  2017       DEVELOPING  \
1                 14.590000          13.750000  2017       DEVELOPING
2                 10.021000          11.996000  2017       DEVELOPING
3                  6.769000           7.119000  2017       DEVELOPING
4                  8.097088          10.641313  2017          MISSING
..                      ...                ...   ...              ...
429                2.142000           1.993000  2018       DEVELOPING
430               22.393999          26.256001  2018       DEVELOPING
431                5.271615           5.392213  2018          MISSING
432               10.614000          11.500000  2018       DEVELOPING
433                4.555000           5.087000  2018       DEVELOPING

     is_region
0            0
1            0
2            0
3            0
4            1
..         ...
429          0
430          0
431          1
432          0
433          0

[434 rows x 19 columns]>

In [14]:
wdi['alcohol_consumption_per_capita'].value_counts(dropna=False)

alcohol_consumption_per_capita
-999.000000    219
 0.690000        3
 9.230000        2
 12.030000       2
 0.682988        2
              ...
 1.110000        1
 5.380000        1
 6.890000        1
 2.730000        1
 4.670000        1
Name: count, Length: 205, dtype: int64

In [15]:
wdi['country_category'].value_counts(dropna=False)

country_category
DEVELOPING    224
MISSING       152
DEVELOPED      58
Name: count, dtype: int64