# Combining datasets

In [1]:
import pandas as pd

In [6]:
left = pd.DataFrame({'col1' : [1,2,3,4,5], 'col2' : ['a', 'b', 'c', 'd', 'e']})
right = pd.DataFrame({'col1' : [3,4,5,6,7], 'col3' : ['f', 'g', 'h', 'i', 'j']})

print(left)
print(right)

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d
4     5    e
   col1 col3
0     3    f
1     4    g
2     5    h
3     6    i
4     7    j

# merge the two dataframes

In [7]:
pd.merge(left=left, right=right, on='col1')

   col1 col2 col3
0     3    c    f
1     4    d    g
2     5    e    h

In [8]:
pd.merge(left, right, on='col1', how='left')

   col1 col2 col3
0     1    a  NaN
1     2    b  NaN
2     3    c    f
3     4    d    g
4     5    e    h

In [9]:
pd.merge(left, right, on='col1', how='right')

   col1 col2 col3
0     3    c    f
1     4    d    g
2     5    e    h
3     6  NaN    i
4     7  NaN    j

In [11]:
# df1 is a pandas DataFrame
# df1 gets passed a dictionary of keys and values
df1 = pd.DataFrame({'account_id' : [1, 2, 3, 11382],       # account_id as the key and list of ints as values
                   'gender' : ['female', 'male', 'female', 'male'], 
                   'age' : [55, 25, 29, 39]})
df1

   account_id  gender  age
0           1  female   55
1           2    male   25
2           3  female   29
3       11382    male   39

In [12]:
df2 = pd.DataFrame({'account_id' : [4, 5, 6, 7],       # account_id as the key and list of ints as values
                   'gender' : ['female', 'male', 'female', 'male'], 
                   'age' : [19, 28, 14, 15]})
df2

   account_id  gender  age
0           4  female   19
1           5    male   28
2           6  female   14
3           7    male   15

In [14]:
pd.concat([df1, df2], ignore_index=True)

   account_id  gender  age
0           1  female   55
1           2    male   25
2           3  female   29
3       11382    male   39
4           4  female   19
5           5    male   28
6           6  female   14
7           7    male   15

In [15]:
hero_powers=pd.read_pickle('hero_powers.pkl')
hero_dc=pd.read_pickle('hero_dc.pkl')
hero_marvel=pd.read_pickle('hero_marvel.pkl')

In [16]:
hero_marvel.head(1)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203,Marvel Comics,good,441

In [17]:
hero_dc.head(1)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0

In [18]:
# shows how many rows and columns I have
hero_dc.shape

(215, 9)

In [19]:
hero_marvel.shape

(388, 9)

In [20]:
215+388

603

In [26]:
hero_info=pd.concat([hero_dc, hero_marvel], ignore_index=True)

In [27]:
hero_info.head(1)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0

In [28]:
hero_powers.head(1)

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [30]:
hero=pd.merge(hero_info, hero_powers, left_on='name', right_on='hero_names', how='inner')

In [32]:
hero.head(1)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,hero_names,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0,Abin Sur,...,False,False,False,False,False,False,False,False,False,False

In [33]:
hero.shape

(537, 177)

# Renaming columns

In [38]:
hero.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 537 entries, 0 to 536
Data columns (total 177 columns):
 #    Column                        Dtype
---   ------                        -----
 0    name                          object
 1    Gender                        object
 2    Eye color                     object
 3    Race                          object
 4    Hair color                    object
 5    Height                        int64
 6    Publisher                     object
 7    Alignment                     object
 8    Weight                        float64
 9    hero_names                    object
 10   Agility                       bool
 11   Accelerated Healing           bool
 12   Lantern Power Ring            bool
 13   Dimensional Awareness         bool
 14   Cold Resistance               bool
 15   Durability                    bool
 16   Stealth                       bool
 17   Energy Absorption             bool
 18   Flight                        bool
 19   Danger Sense                  bool
 20   Underwater breathing          bool
 21   Marksmanship                  bool
 22   Weapons Master                bool
 23   Power Augmentation            bool
 24   Animal Attributes             bool
 25   Longevity                     bool
 26   Intelligence                  bool
 27   Super Strength                bool
 28   Cryokinesis                   bool
 29   Telepathy                     bool
 30   Energy Armor                  bool
 31   Energy Blasts                 bool
 32   Duplication                   bool
 33   Size Changing                 bool
 34   Density Control               bool
 35   Stamina                       bool
 36   Astral Travel                 bool
 37   Audio Control                 bool
 38   Dexterity                     bool
 39   Omnitrix                      bool
 40   Super Speed                   bool
 41   Possession                    bool
 42   Animal Oriented Powers        bool
 43   Weapon-based Powers           bool
 44   Electrokinesis                bool
 45   Darkforce Manipulation        bool
 46   Death Touch                   bool
 47   Teleportation                 bool
 48   Enhanced Senses               bool
 49   Telekinesis                   bool
 50   Energy Beams                  bool
 51   Magic                         bool
 52   Hyperkinesis                  bool
 53   Jump                          bool
 54   Clairvoyance                  bool
 55   Dimensional Travel            bool
 56   Power Sense                   bool
 57   Shapeshifting                 bool
 58   Peak Human Condition          bool
 59   Immortality                   bool
 60   Camouflage                    bool
 61   Element Control               bool
 62   Phasing                       bool
 63   Astral Projection             bool
 64   Electrical Transport          bool
 65   Fire Control                  bool
 66   Projection                    bool
 67   Summoning                     bool
 68   Enhanced Memory               bool
 69   Reflexes                      bool
 70   Invulnerability               bool
 71   Energy Constructs             bool
 72   Force Fields                  bool
 73   Self-Sustenance               bool
 74   Anti-Gravity                  bool
 75   Empathy                       bool
 76   Power Nullifier               bool
 77   Radiation Control             bool
 78   Psionic Powers                bool
 79   Elasticity                    bool
 80   Substance Secretion           bool
 81   Elemental Transmogrification  bool
 82   Technopath/Cyberpath          bool
 83   Photographic Reflexes         bool
 84   Seismic Power                 bool
 85   Animation                     bool
 86   Precognition                  bool
 87   Mind Control                  bool
 88   Fire Resistance               bool
 89   Power Absorption              bool
 90   Enhanced Hearing              bool
 91   Nova Force                    bool
 92   Insanity                      bool
 93   Hypnokinesis                  bool
 94   Animal Control                bool
 95   Natural Armor                 bool
 96   Intangibility                 bool
 97   Enhanced Sight                bool
 98   Molecular Manipulation        bool
 99   Heat Generation               bool
 100  Adaptation                    bool
 101  Gliding                       bool
 102  Power Suit                    bool
 103  Mind Blast                    bool
 104  Probability Manipulation      bool
 105  Gravity Control               bool
 106  Regeneration                  bool
 107  Light Control                 bool
 108  Echolocation                  bool
 109  Levitation                    bool
 110  Toxin and Disease Control     bool
 111  Banish                        bool
 112  Energy Manipulation           bool
 113  Heat Resistance               bool
 114  Natural Weapons               bool
 115  Time Travel                   bool
 116  Enhanced Smell                bool
 117  Illusions                     bool
 118  Thirstokinesis                bool
 119  Hair Manipulation             bool
 120  Illumination                  bool
 121  Omnipotent                    bool
 122  Cloaking                      bool
 123  Changing Armor                bool
 124  Power Cosmic                  bool
 125  Biokinesis                    bool
 126  Water Control                 bool
 127  Radiation Immunity            bool
 128  Vision - Telescopic           bool
 129  Toxin and Disease Resistance  bool
 130  Spatial Awareness             bool
 131  Energy Resistance             bool
 132  Telepathy Resistance          bool
 133  Molecular Combustion          bool
 134  Omnilingualism                bool
 135  Portal Creation               bool
 136  Magnetism                     bool
 137  Mind Control Resistance       bool
 138  Plant Control                 bool
 139  Sonar                         bool
 140  Sonic Scream                  bool
 141  Time Manipulation             bool
 142  Enhanced Touch                bool
 143  Magic Resistance              bool
 144  Invisibility                  bool
 145  Sub-Mariner                   bool
 146  Radiation Absorption          bool
 147  Intuitive aptitude            bool
 148  Vision - Microscopic          bool
 149  Melting                       bool
 150  Wind Control                  bool
 151  Super Breath                  bool
 152  Wallcrawling                  bool
 153  Vision - Night                bool
 154  Vision - Infrared             bool
 155  Grim Reaping                  bool
 156  Matter Absorption             bool
 157  The Force                     bool
 158  Resurrection                  bool
 159  Terrakinesis                  bool
 160  Vision - Heat                 bool
 161  Vitakinesis                   bool
 162  Radar Sense                   bool
 163  Qwardian Power Ring           bool
 164  Weather Control               bool
 165  Vision - X-Ray                bool
 166  Vision - Thermal              bool
 167  Web Creation                  bool
 168  Reality Warping               bool
 169  Odin Force                    bool
 170  Symbiote Costume              bool
 171  Speed Force                   bool
 172  Phoenix Force                 bool
 173  Molecular Dissipation         bool
 174  Vision - Cryo                 bool
 175  Omnipresent                   bool
 176  Omniscient                    bool
dtypes: bool(167), float64(1), int64(1), object(8)
memory usage: 133.7+ KB